<%
   if @mail_record.nil?
     return 'unknown mail'
   end
%>
<nav class="actions">
  <ul>
    <li>
      <%= link_to 'delete', easy_track_mail_path, method: :delete %>
    </li>
  </ul>
</nav>


<table class="table">
  <tr>
    <!-- TODO this will only work with ActiveRecord adapter -->
    <% EasyMailer::Tracker::Options.adapter.settings[:attributes].keys.each do |c| %>
        <th><%= c.to_s.humanize %></th>
    <% end %>
  </tr>
  <% if [@mail_record].each do |model| %>
      <tr>
        <% EasyMailer::Tracker::Options.adapter.settings[:attributes].values.each do |c| %>
            <td><%= model.send(c) %></td>
        <% end %>
      </tr>
  <% end.empty? %>
      <tr>
        <td colspan="<%= EasyMailer::Tracker::Options.adapter.settings[:attributes].size %>">
          No content
        </td>
      </tr>
  <% end %>
</table>

