<table class="table">
  <tr>
    <th>Message-Id</th>
  </tr>
  <% @mails.each do |mail| %>
      <tr>
        <td>
          <%= link_to mail.message_id, easy_view_mail_path(
                                       mail_id: mail['Message-Id'],
                                       mailer: mail['Easy-Mailer'],
                                       model: mail['Easy-Model']) %>
        </td>
      </tr>
  <% end %>
</table>
