<!DOCTYPE html>
<html>
<head>
  <title>Easy Mailer</title>
  <%= stylesheet_link_tag    "easy_mailer/application", :media => "all" %>
  <%= javascript_include_tag "easy_mailer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
